%l
 %body
  .chat-main
   .chat-main__info
    .chat-main__info__box
     .chat-main__info__box__left
      .chat-main__info__box__left__name
       テスト
      .chat-main__info__box__left__member
       .chat-main__info__box__left__member__list
        member:
       .chat-main__info__box__left__member__name
        izumi
     .chat-main__info__box__edit
      Edit

   .chat-main__list
    .chat-main__list__box
     .chat-main__list__box__info
      .chat-main__list__box__info__talker
       izumi
      .chat-main__list__box__info__date
       2020/01/20(Mon) 21:51:50
     .chat-main__list__box__text
      aaaaaa

    .chat-main__list__box
     .chat-main__list__box__info
      .chat-main__list__box__info__talker
       tanaka
      .chat-main__list__box__info__date
       2020/01/01(Mon) 21:51:50
     .chat-main__list__box__text
      bbbbb
    
    .chat-main__list__box
     .chat-main__list__box__info
      .chat-main__list__box__info__talker
       sato
      .chat-main__list__box__info__date
       2020/01/01(Mon) 21:51:50
     .chat-main__list__box__text
      ccccc
   
  
   
   .chat-main__message
    %form.chat-main__message__box
     .chat-main__message__box__tpform
      %input{type: "text", class: "chat-main__message__box__tpform__text", placeholder: "type a message"}
      %label{class: "chat-main__message__box__tpform__picture"} 
       = icon('fas', 'image')
       %input{type: "file", class: "chat-main__message__box__tpform__picture__file"}
     %input{type: "submit", class: "chat-main__message__box__btn", value: "send"} 
